<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderCheckServiceBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ordercheck.deltavista.de/soap" binding="basicHttpBinding"
                bindingConfiguration="OrderCheckServiceBinding" contract="OrderCheckPortType"
                name="OrderCheckPort" />
        </client>
    </system.serviceModel>
</configuration>